.video_segment_popover {
  position: absolute;
  background-color: #ffffff59;
  z-index: 99999;
  cursor: pointer;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 8px;
  display: none;
  left: -50px;
  bottom: 10px;
}
.video_segment_popover:hover {
  background-color: #ffffff;
  color: black;
}
